<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Grupo de Accesos</h2>
    <pre class="code import">
      <code appPrism code="import { OAccessModule } from '@alan199912/library-test/access';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OAccessGroup</h4>
    <p>Selector: <strong>o-access-group</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [displayedColumns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>Access</h4>
    <p>Permite establecer los valores de la propiedad <strong>accessList</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleIterfaceAccess }}</code>
      </pre>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h4>AccessGroup</h4>
    <p>
      El tipo AccessGroup tiene las mismas propiedades de la interface <strong>Access</strong> exceptuando
      “description”.
    </p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleTypeAccessGroup }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [displayedColumns]="columns"
          [dataSource]="dataGroupInterfaceSource"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
