<section class="section-overview">
  <p class="lead">
    Las opciones aparecen al interactuar con un elemento como un botón o un icono o un selector de formulario. Es una
    forma simple y compacta de mostrar múltiples opciones.
  </p>

  <h2>Tipos de Opciones</h2>
  <p>
    Cuando el sistema ya posee los datos que se precisan seleccionar y la persona solo debe optar por uno o varios de
    ellos. Se muestran al accionar un Desplegable.
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <p>Opciones alineadas a la izquierda, se muestran al accionar un Desplegable.</p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/opciones/izquierda.png"
      alt="imagen sobre opción a la izquierda"
    />

    <p class="section-design-text">Opciones alineadas al centro, se muestran al accionar un Desplegable.</p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/opciones/centro.png"
      alt="imagen sobre opción al centro"
    />

    <p class="section-design-text">Opciones alineadas al centro, se muestran al accionar un Desplegable.</p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/opciones/derecha.png"
      alt="imagen sobre opción a la derecha"
    />
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
