<section class="section-overview">
  <p class="lead">
    Los modales son utilizados como ventanas emergentes para resaltar contenido importante en una página haciendo foco
    en una sola tarea o mensaje. También bloquean otras interacciones para los usuarios.
  </p>

  <div class="section-modal">
    <h2>Tipos de modales</h2>
    <h3>Modal de confirmación</h3>
    <p>Cuando un usuario necesita información adicional o contexto para tomar la decisión de qué acción realizar.</p>

    <h3>Modal de peligro</h3>

    <p>
      Cuando un usuario necesita confirmar una acción que afectará sus datos o experiencia de una manera potencialmente
      negativa, como eliminar archivos, descartar un pago, cancelar un formulario, etc.
    </p>
  </div>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <p>Un modal deshabilita el contenido de la página y enfoca la atención del usuario en una sola tarea o mensaje.</p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/modals/modal.svg"
    alt="imagen sobre componente modal"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
