<section class="section-overview">
  <p class="lead">
    Las barras de progreso muestran la progresión del sistema sobre el estado de una operación. Pueden representar un
    progreso determinado o indeterminado.
  </p>

  <h2>Tipos de barra de progreso</h2>

  <h3>Con pasos</h3>

  <p>Utilice este componente cuando pueda determinar los pasos de la tarea completada.</p>

  <h3>Sin pasos</h3>

  <p>
    Este tipo de barra muestra visualmente el progreso de una operación del sistema. Se utiliza cuando se desconoce los
    pasos para completar la misma.
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (contexto de uso)</h2>

    <p>Se ubican en la parte superior de la página y muestran el estado de una tarea.</p>
  </div>

  <img src="https://gcba.github.io/estandares/componentes/barradeprogreso/barra-progreso.svg" alt="" />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <ul class="usability">
      <app-best-practices [practices]="bestPractices"></app-best-practices>
    </ul>
  </div>
</section>
