<section class="section-overview">
  <p class="lead">
    Es un componente de navegación adicional. Puede contener enlaces, botones, información de la empresa, derechos de
    autor, formularios y otros elementos.
  </p>

  <h2>Tipos de Footer</h2>
  <p>
    El footer se usa para mostrar información general a la que un usuario podría querer acceder desde cualquier página
    dentro del sitio.
  </p>

  <h3>Footer básico</h3>

  <p>Un ejemplo básico del Footer simple con logotipo y sección de derechos de autor.</p>

  <h3>Footer con enlaces</h3>

  <p>
    Utilice este componente para mostrar el logotipo, derechos de autor y algunos enlaces a sitios web en una segunda
    columna.
  </p>

  <h3>Footer con redes sociales</h3>

  <p>
    Si lo desea, puede usar este componente para mostrar la sección de redes sociales del sitio que abarque todo el
    ancho de una fila.
  </p>

  <h3>Footer con telefonos</h3>

  <p>
    Si lo desea, puede usar este componente para mostrar la sección de telefonos del sitio que abarque todo el ancho de
    una fila.
  </p>

  <h3>Footer completo</h3>

  <p>
    El footer se puede personalizar fácilmente para mostrar una sección de redes sociales, telefonos, seguido de
    información de derechos de autor y enlaces a sitios web .
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>
      El componente de footer se utiliza como pie de página global para todas las vistas. Contiene datos de derechos de
      autor, redes y teléfonos y enlaces a sitios web.
    </p>
  </div>
</section>
