<section class="section-overview">
  <p class="lead">
    La navegación permite jerarquizar elementos al margen izquierdo de una página en forma vertical, o mostrar la sub
    navegación dentro de una sección de un sitio web de forma horizontal.
  </p>

  <div class="section-collapse">
    <h2>Navegación Vertical</h2>

    <p>
      Se utilizan para brindarle a los usuarios una navegacion ordenada, mostrando enlaces para redireccionamiento
      organizados de manera vertical incluyendo sub elementos. Generalmente los podemos encontrar en el aside.
    </p>
  </div>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <p>Solo la navegación vertical tiene hasta 3 niveles de navegación.</p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/navegacion/navegacion-2.svg"
    alt="imagen sobre navegacion vertical"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
