<section class="section-example">
  <app-viewer title="Grupo de Acceso" [isNavCode]="true">
    <div component class="col-4">
      <o-access-group title="Título" description="Bajada" [access]="accessItem"> </o-access-group>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleAccessGroupHTML}}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleAccessGroupTS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Con icono" [isNavCode]="true">
    <div component class="col-4">
      <o-access-group title="Título" description="Bajada" [access]="accessItem">
        <i icon class="bx bxs-shield-x card-access-icon"></i>
      </o-access-group>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleAccessGroupWithIconHTML}}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleAccessGroupWithIconTS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Invertido" [isNavCode]="true">
    <div component class="col-4">
      <o-access-group title="Título" description="Bajada" [access]="accessItem" [isReverse]="true">
        <i icon class="bx bxs-shield-x card-access-icon"></i>
      </o-access-group>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleAccessGroupReverseHTML}}</code>
    </pre>
    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleAccessGroupReverseTS}}</code>
    </pre>
  </app-viewer>
</section>
