<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Galería de Obelisco</h2>
    <pre class="code import">
      <code appPrism code="import { OGalleryComponent } from '@alan199912/library-test/gallery';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OGallery</h4>
    <p>Selector: <strong>o-gallery</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table
        [displayedColumns]="columnsGallery"
        [dataSource]="dataSourceGallery"
        [isStriped]="true"
        [isBordered]="true"
      ></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>ImageItem</h4>
    <p>Permite establecer los valores de la propiedad <strong>images</strong>.</p>

    <div class="section-interface">
      <pre class="code">
        <code appPrism>{{ exampleIterfaceImageItem }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [displayedColumns]="columnsGallery"
          [dataSource]="dataSourceGalleryInterface"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
