<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Lista de Enlaces de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OLinkListComponent } from '@alan199912/library-test/link-list';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OLinkList</h4>
    <p>Selector: <strong>o-link-list</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [displayedColumns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>
</section>
