<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Panel Informativo de Obelisco</h2>
    <pre class="code import">
      <code appPrism language="javascript" code="import { OPanelModule } from '@alan199912/library-test/panel';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OInformationPanel</h4>
    <p>Selector: <strong>o-information-panel</strong></p>

    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [displayedColumns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>PanelInformationItem</h4>
    <p>Permite establecer los valores de la propiedad <strong>panelList</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleIterfacePanelInformation }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [displayedColumns]="columns"
          [dataSource]="dataSourcePanelInformationInterface"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
