<section class="section-overview">
  <p class="lead">
    El componente Galería de imágenes permite mostrar una colección de imágenes relacionadas en una página.
  </p>

  <h2>Tipos de Galería</h2>
  <p>
    Las listas de imágenes muestran una colección de imágenes en un grilla organizado. Ayudan a mejorar la comprensión
    visual del contenido que manejan.
  </p>

  <h3>Galería - Interactiva</h3>

  <p>Use la galería interactiva para recorrer diferentes imágenes.</p>

  <h3>Galería - Grilla</h3>

  <p>El componente tomará un estilo de grilla determinado por la cantidad de imágenes que se le asigne mostrar.</p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>
      Es un recurso muy útil cuando necesitas mostrar una serie de fotos en una página o artículo de tu sitio web. Te
      permite agruparlas y mostrarlas de una forma más profesionales
    </p>
  </div>
</section>
