<section class="section-overview">
  <p class="lead">
    Es un indicador de progreso que muestra visualmente los pasos de las acciones del usuario en un formulario. Los
    ayuda a comprender la progresión de los formularios largos y reduce la incertidumbre a medida que completan cada
    pantalla.
  </p>

  <h2>Tipos de pasos de un formulario</h2>
  <p>
    Los pasos de un formulario son guías visuales que muestran cuántos pasos llevará un proceso, en qué lugar se
    encuentra la persona en este proceso y cuánto falta para completar una tarea.
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>Este componente se ubica siempre al principio del formulario, en la parte superior de la página.</p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/paso-a-paso/formulario.svg"
    alt="imagen sobre carteles de alerta"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
