<section class="section-example">
  <app-viewer title="Interactiva" [isNavCode]="true">
    <div component class="container">
      <o-gallery [images]="imagesListInteractive" [isInteractive]="true" dataTarget="modalGallery"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleInteractiveHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleInteractiveTS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 1" [isNavCode]="true">
    <div component class="container">
      <o-gallery [images]="imagesList1"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList1TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 2" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList2"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList2TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 3" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList3"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList3TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 4" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList4"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList4TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 5" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList5"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList5TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 6" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList6"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList6TS}}</code>
    </pre>
  </app-viewer>

  <app-viewer title="Grilla - cant. de imagenes: 7" [isNavCode]="true">
    <div component class="container">
      <o-gallery component [images]="imagesList7"></o-gallery>
    </div>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{exampleImagesListHTML}}</code>
    </pre>

    <pre appClipboard component-ts class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism>{{exampleImagesList7TS}}</code>
    </pre>
  </app-viewer>
</section>
