<section class="section-overview">
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla molestiae corporis totam architecto earum officia
    porro tempore vel distinctio illum laboriosam cum minus provident ullam ratione aliquam, impedit possimus ipsam.
  </p>

  <h2>Tipos de Panel</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla molestiae corporis totam architecto earum officia
    porro tempore vel distinctio illum laboriosam cum minus provident ullam ratione aliquam, impedit possimus ipsam.
  </p>

  <h3>Panel básico</h3>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla molestiae corporis totam architecto earum officia
    porro tempore vel distinctio illum laboriosam cum minus provident ullam ratione aliquam, impedit possimus ipsam.
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla molestiae corporis totam architecto earum officia
      porro tempore vel distinctio illum laboriosam cum minus provident ullam ratione aliquam, impedit possimus ipsam.
    </p>
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
