<section class="section-api">
  <div class="section-title">
    <h2>Referencia de API para el componente Lista de Accesos</h2>
    <pre class="code import">
      <code appPrism code="import { OAccessModule } from '@alan199912/library-test/access';"></code>
    </pre>
  </div>

  <h3>Etiqueta</h3>
  <hr />

  <div class="section-selector">
    <h4>OAccessList</h4>
    <p>Selector: <strong>o-access-list</strong></p>

    <div oAlert color="primary">
      <p>
        Para que el componente se comporte diferente se tiene que almacenar datos en
        <strong>accessElements</strong> o <strong>accessCategoryElements</strong>, no se pueden setear juntos porque se
        va a visualizar uno solo.
      </p>
    </div>
    <div class="section-properties">
      <h5>Propiedades</h5>

      <o-table [displayedColumns]="columns" [dataSource]="dataSource" [isStriped]="true" [isBordered]="true"></o-table>
    </div>
  </div>

  <h3>Tipos de datos</h3>
  <hr />

  <div class="section-type">
    <h4>Access</h4>
    <p>Permite establecer los valores de la propiedad <strong>access</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleIterfaceAccess }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [displayedColumns]="columns"
          [dataSource]="dataSourceInterface"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>

  <br />

  <div class="section-type">
    <h4>AccessCategory</h4>
    <p>Permite establecer los valores de la propiedad <strong>accessCategoryElements</strong>.</p>

    <div class="section-interface">
      <pre class="code import">
        <code appPrism language="javascript">{{ exampleIterfaceAccessCategory }}</code>
      </pre>
      <div class="section-properties">
        <h5>Propiedades</h5>
        <o-table
          [displayedColumns]="columns"
          [dataSource]="dataSourceCategoryInterface"
          [isStriped]="true"
          [isBordered]="true"
        ></o-table>
      </div>
    </div>
  </div>
</section>
