<section class="section-overview">
  <p class="lead">
    Los colapsables permiten a los usuarios mostrar y ocultar secciones de contenido relacionado en una página.
  </p>

  <div class="section-collapse">
    <h2>Colapsable - Totalizador</h2>

    <p>
      Se usa exclusivamente para transacciones. Sirve para poder dar el detalle especificando cada parte del pago que
      realiza la persona ciudadana, dando transparencia y claridad.
    </p>
  </div>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>Colapsable - Totalizador</h3>

    <p>
      Solamente se pueden visualizar este tipo de colapsables de a uno por vez o por pantalla, no se pueden agrupar
      varios de estos tipos. Se ubican a un costado de la pantalla.
    </p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/colapsable/collapse_totalizador.png"
      alt="imagen sobre collapsable info"
    />
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
