<section class="section-overview">
  <p class="lead">
    Las tarjetas agrupan información en contenedores flexibles y actúan como punto de entrada que permite introducir un
    tema en específico.
  </p>

  <div class="">
    <h3>Con contenedor - Horizontal - Chica</h3>
    <p>Se utilizan para acceder a información y dependen de un encabezado.</p>

    <h3>Con contenedor - Horizontal - Mediana</h3>
    <p>Se utilizan para acceder a información y dependen de un encabezado.</p>

    <h3>Con contenedor - Horizontal 6 Chica</h3>
    <p>Se utilizan para acceder a información y dependen de un encabezado que las agrupe.</p>

    <h3>Con contenedor - Horizontal 6 Mediana</h3>
    <p>Se utilizan para acceder a información y dependen de un encabezado que las agrupe.</p>
  </div>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>Con contenedor - Horizontal - Chica</h3>

    <p>
      En su disposición horizontal pueden organizarse solo 3 por línea en desktop. Al truncar el layout como en mobile,
      se apilan una por debajo de la otra.
    </p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/card/horizontal_chica.svg"
      alt="imagen sobre contenedor horizontal chica"
    />

    <h3>Con contenedor - Horizontal - Mediana</h3>
    <p>
      En su disposición horizontal pueden organizarse solo 3 por línea en desktop. Al truncar el layout como en mobile,
      se apilan una por debajo de la otra.
    </p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/card/horizontal_mediana.svg"
      alt="imagen sobre contenedor horizontal mediana"
    />

    <h3>Con contenedor - Horizontal 6 Chica</h3>
    <p>
      En su disposición horizontal pueden organizarse solo 2 por línea en desktop. Al truncar el layout como en mobile,
      se apilan una por debajo de la otra.
    </p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/card/horizontal_6_chica.svg"
      alt="imagen sobre contenedor horizontal 6 chica"
    />

    <h3>Con contenedor - Horizontal 6 Mediana</h3>
    <p>
      En su disposición horizontal pueden organizarse solo 2 por línea en desktop. Al truncar el layout como en mobile,
      se apilan una por debajo de la otra.
    </p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/card/horizontal_6_mediana.svg"
      alt="imagen sobre contenedor horizontal 6 chica"
    />
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
