<section class="section-overview">
  <p class="lead">
    Los desplegables tienen la apariencia de un botón pero al interactuar con ellos permiten seleccionar una opción
    dentro de un menú.
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <p>Se agrupan de forma horizontal.</p>

    <img
      class="card-img-top"
      src="https://gcba.github.io/estandares/componentes/desplegable/dise%C3%B1o-estructura-1.svg"
      alt="imagen sobre desplegables en forma horizontal"
    />

    <p class="section-design-text">Combinables con Botones y con Navegación horizontal.</p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/desplegable/dise%C3%B1o-estructura-2.svg"
    alt="imagen sobre desplegables combinados con botones y con navegación horizontal"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
