<section class="section-overview">
  <p class="lead">
    Las alertas mantienen a los usuarios informados sobre el estado del sistema y puede requerir o no que realicen una
    acción.
  </p>

  <h2>Tipos de alertas</h2>
  <p>
    Las opciones de alerta muestran su color semántico e ícono correspondiente para ayudar a las personas con
    deficiencia de visión del color a discernir el tono del mensaje.
  </p>

  <h3>Alertas de error</h3>
  <p>
    Se usan para mostrar un error de validación, falla del sistema, o para transmitir algo que debe reconocerse o
    abordarse de inmediato para continuar con su navegación.
  </p>

  <h3>Alertas de éxito</h3>

  <p>Se usan para informar al usuario sobre una tarea que se realizó con éxito.</p>

  <h3>Alertas de información</h3>
  <p>
    Notifican al usuario sobre un cambio, para darles consejos o brindar información específica sobre la sección en la
    que se encuentran.
  </p>

  <h3>Alertas de advertencia</h3>
  <p>Esta variante se utiliza para informar sobre una situación que debe abordarse pronto.</p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>
      Los carteles de alerta están destinados a llamar la atención y pedir a los usuarios que tomen medidas necesarias
      en el contexto de una página. Se colocan al principio de aquello que se quiera advertir, alineados al margen
      izquierdo.
    </p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/alerta/dise%C3%B1o_estructura.svg"
    alt="imagen sobre carteles de alerta"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
