<a #card class="card" [routerLink]="route">
  <div class="card-event-top">
    <img oDefaultImage [src]="img" class="card-event-bg" [alt]="title" />
    <div class="card-event-img">
      <img oDefaultImage [src]="imgEvent" [alt]="eventName" />
    </div>
    <p *ngIf="eventName" class="card-event-name">{{ eventName }}</p>
  </div>
  <div class="card-body">
    <p *ngIf="initialDate" class="card-headline">
      {{ initialDate | numberDayMonthFormatPipe }}
      <ng-container *ngIf="finalDate">al {{ finalDate | numberDayMonthFormatPipe }}</ng-container>
    </p>
    <h4 class="card-title">{{ title }}</h4>
  </div>
</a>
