<section class="section-overview">
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

  <h2>Tipos de Accesos</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, labore dolores officiis maxime, eligendi nemo harum
    debitis eaque laborum beatae fuga commodi veniam sint minima? Placeat odio doloremque ratione magni
  </p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>En cuerpo de página</h3>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime amet totam quae. Nemo, modi. Dolor perspiciatis
      necessitatibus repellendus quas cupiditate odit repellat molestiae qui soluta neque, sunt eveniet nemo rem!
    </p>
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
