<section class="section-overview">
  <p class="lead">
    Las tarjetas agrupan información en contenedores flexibles y actúan como punto de entrada que permite introducir un
    tema en específico.
  </p>

  <div class="">
    <p>Se utilizan para acceder a información y dependen de un encabezado que las agrupe.</p>
  </div>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <p>
      En su disposición horizontal pueden organizarse solo 3 por línea en desktop. Al truncar el layout como en mobile,
      se agrupan para un desplazamiento horizontal.
    </p>
  </div>

  <img
    class="card-img-top"
    src="https://gcba.github.io/estandares/componentes/card/vertical.svg"
    alt="imagen sobre carteles de noticia"
  />

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <app-best-practices [practices]="bestPractices"></app-best-practices>

    <app-bad-practices [practices]="badPractices"></app-bad-practices>
  </div>
</section>
