<section class="section-overview">
  <p class="lead">El componente Tabla se utiliza para organizar y mostrar datos de manera eficiente.</p>

  <div class="section-design">
    <h2>Diseño y estructura (Contexto de uso)</h2>

    <h3>Tabla Normal</h3>
    <p>Tabla que no presenta bordes ni intercalación de colores en cada fila.</p>

    <h3>Tabla con Bordes</h3>
    <p>Tabla con bordes.</p>

    <h3>Tabla Intercalada</h3>
    <p>Tabla con colores intercalados en cada fila.</p>

    <h3>Tabla Resaltable</h3>
    <p>Tabla donde al hacer hover en cada fila, se modifica el color de fondo.</p>

    <h3>Tabla con distintas características</h3>
    <p>
      Tabla con bordes, colores intercalados en cada fila, y al hacer hover en cada fila, se modifica el color de fondo.
    </p>

    <h3>Tabla Seleccionable</h3>
    <p>Tabla con inputs checks para seleccionar filas.</p>
  </div>

  <div class="section-usability">
    <h2>Usabilidad</h2>

    <p>
      <strong>Alinear a la izquierda datos textuales.</strong> Los datos textuales siempre están alineados a la
      izquierda dentro de una tabla. La alineación central nunca debe usarse.
    </p>
    <p>
      <strong>Alinear a la derecha datos numéricos.</strong> Los datos numéricos siempre están alineados a la derecha
      dentro de una tabla. La alineación central nunca debe usarse. Solo debe alinearse a la izquierda cuando los
      números son identificadores arbitrarios, conocidos como "números nominales", lo que significa que no se pueden
      comparar o combinar aritméticamente (por ejemplo, códigos postales, direcciones IP, números de teléfono). Los
      encabezados de columna siguen la alineación de los datos.
    </p>
    <p>
      <strong>Respete la alineación vertical.</strong> Todo el contenido debe estar centrado verticalmente dentro de la
      fila para ofrecer el equilibrio visual adecuado.
    </p>
    <p>
      <strong>Utilice un guion (-) para los valores faltantes.</strong> Cuando haya brechas en los datos, use un guión
      corto (-) para representar valores nulos o no aplicables (N / A).
    </p>
  </div>
</section>
