<section class="section-example">
  <app-viewer title="Simple">
    <o-card-simple-horizontal
      component
      title="Título de tarjeta"
      text="Recomendamos en este espacio no utilizar más de 3 líneas, para generar una lectura óptima."
      img="https://gcba.github.io/Obelisco/cards/ciudad.jpg"
      route="/components"
    >
    </o-card-simple-horizontal>
    <pre appClipboard component-html class="code">
      <button class="btn btn-clipboard">Copiar</button>
      <code appPrism language="html">{{ cardExample }}</code>
    </pre>
  </app-viewer>
</section>
